<p id="notice"><%= notice %></p>

<p>
  <strong>Content:</strong>
  <%= @comment.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @comment.user %>
</p>

<%= link_to 'Edit', edit_picture_comment_path(@comment) %> |
<%= link_to 'Back', picture_path(@comment.picture) %>
