<p id="notice"><%= notice %></p>

<p>
  <strong>Data:</strong>
  <%= image_tag @picture.data %>
</p>

<p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p>
<%= link_to 'New Comment', new_picture_comment_path(@picture) %>
<div class="commentsContainer">
	<% @picture.comments.each do |comment| %>
      <div class="comment">
        <p><%= comment.content %></p>
        <p><%= comment.user.email %></p>
	<% if current_admin %>
	  <p> <%= link_to 'Destroy', picture_comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p>
	<% end %>
      </div>
    <% end %>
</div>
<% if current_admin %>
  <%= link_to 'Edit', edit_picture_path(@picture) %> |
  <%= link_to 'Back', pictures_path %>
<% end %>